<p>
  user-detail works!
</p>

<section class="container">
    <div class="row">
      <div class="col-md-6 col-lg">
        <div class="card card-personal">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" alt="Card image cap">
          <div class="card-body">
            <a>
              <h4 class="card-title title-one">Clara</h4>
              <h3>User ID: {{userId}}</h3>
            </a>
            <p class="card-meta">Joined in 2013</p>
            <p class="card-text">Clara is an photographer living in Madrid.</p>
            <hr>
            <a class="card-meta"><span><i class="fas fa-user"></i>22 Friends</span></a>
          </div>
        </div>
      </div>  
    </div>
  </section>



<a (click)="goPrev()">Previous</a>
<a (click)="goNext()">Next</a>

<button (click)="goToUsersList()">Back</button>