<!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Add post</p>

    <!-- Subject -->
    <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Home</option>
        <option value="2">Animals</option>
        <option value="3">Fashion</option>
        <option value="4">Relationships</option>
    </select>

    <!-- Email -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Heading">

    <!-- Email -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Author">
    
    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="10" placeholder="Text of your post"></textarea>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->