<div class="container">

<ng-template #noUsers>
    <div class="row">
        <div class="users-title">
          <h1>{{ emptyTitle }}</h1>
        </div>
      </div>
</ng-template>

<div class="users-container">
    <!-- *ngIf="users.length > 0; else noUsers" -->
  
  <div class="row">
    <div class="users-title">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
<!-- USERS LIST -->
      <app-user
      class="col-4 users-item" 
      *ngFor="let u of users; let i = index;"
      [element]="u"
      (click)="onSelect(u)" 
      ></app-user>
<!-- / USERS LIST -->
  </div>
</div>

  