<div class="container users-container">
  <div class="row">
    <div class="users-title">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row">
      <app-user
      class="col-4 users-item" 
      *ngFor="let u of users; let i = index;"
      [element]="u"
      ></app-user>
  </div>
  <div class="row">
    <div class="col">
      <div class="info-container">
        <button 
        class="btn btn-primary"
        [disabled]="!isDisabled"
        (click)="onClickFunc()" 
        >Button</button>
        <div *ngIf="isDisabled; else noInfo" class="info-container__info">
          <p>{{ clickStatus }}</p>
          <p>{{ input }}</p>
          <input type="text" [(ngModel)]="title" (input)="onInputChange($event)">
        </div>
        <ng-template #noInfo>No info provided</ng-template>
      </div>
    </div>
  </div>


  