<div class="card">
  <div class="view overlay">
    <img class="card-img-top" [src]="element.avatar" alt="Card image cap">
    <div class="mask rgba-white-slight"></div>
  </div>
  <div class="card-body">
    <span>{{element.id}}</span>
    <h4 class="card-title">Name: {{element.first_name}} {{element.last_name}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-primary" (click)="selectItem($event)">Button</button>
  </div>
</div>
