 <!-- Card -->
 <div class="card">
    <!-- Card image -->
    <div class="view overlay">
      <!-- <img class="card-img-top" [src]="element.avatar" alt="Card image cap"> -->
        <div class="mask rgba-white-slight"></div>
    </div>
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <!-- <span>{{element.id}}</span>
      <h4 class="card-title">Name: {{element.first_name}} {{element.last_name}}</h4> -->
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Button -->
      <!-- <button class="btn btn-primary" (click)="selectItem($event)">Button</button> -->
    </div>
  </div>
  <!-- Card -->